workflows/curadoria-notícias.json
{
  "name": "Curadoria de notícias",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        -112
      ],
      "id": "83b8355e-7652-4743-b9c8-d3d8fa98b930",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://dev.to/feed/tag/ai",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -736,
        -192
      ],
      "id": "4d050481-719c-4dbc-b25d-ed3db501c970",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -528,
        -192
      ],
      "id": "8461b62c-af92-4c54-934f-f9e72ddc6edf",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -528,
        -32
      ],
      "id": "ba11a306-9036-4be6-9f21-a19b1b44ac1d",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -224,
        -112
      ],
      "id": "b2fc736f-79cf-48c2-90bf-7558f3c2df18",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "title, content, link",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        -112
      ],
      "id": "ed2612a5-54ce-42ef-b721-7626e60321ac",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        192,
        -112
      ],
      "id": "599fec04-a36d-4d95-b656-b1d825a56320",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um editor de notícias de tecnologia especializado em Inteligência Artificial (IA) e Tecnologia. \n\nSua tarefa é analisar o conjunto de notícias a seguir, extrair apenas os pontos mais relevantes e criar um resumo diário.\n\nInstruções de Saída:\n\nFormato: A saída deve ser uma única mensagem formatada com títulos em Markdown (negrito e emojis) para fácil leitura.\n\nConteúdo: Selecione no máximo 3 notícias mais importantes e relevantes para desenvolvedores.\n\nEstrutura: Divida a mensagem em três seções: Título, IA & ML, e Tecnologia.\n\nResumo: Para cada notícia selecionada, crie um resumo conciso de no máximo 50 palavras.\n\nLinks: O Título de cada resumo deve ser o link original da notícia (se possível, use a sintaxe Markdown para links: [Título Original](URL do Artigo)).\n\nEstrutura de Saída Desejada:\n\nMarkdown\n\n🤖 **Resumo Diário de Notícias Tech** 🚀\n*Data atual* {{ $now.format('dd/MM/yy') }}\n\n---\n\n🧠 **Inteligência Artificial & Machine Learning**\n\n1️⃣ **[Título do Artigo IA 1](URL do Artigo 1)**\n* Breve resumo (máx. 50 palavras) sobre o avanço, modelo ou pesquisa.\n\n2️⃣ **[Título do Artigo IA 2](URL do Artigo 2)**\n* Breve resumo (máx. 50 palavras) sobre novas ferramentas ou implicações éticas.\n\n---\n\n💻 **Tecnologia**\n\n1️⃣ **[Título do Artigo Tecnologia 1](URL do Artigo 3)**\n* Breve resumo (máx. 50 palavras) sobre novo recurso, framework, ou release importante (ex: Node.js, React).\n\n---\n\n🔥 **Dica Rápida:** *Uma frase motivacional ou um breve lembrete sobre a importância de revisar a documentação.*\nDados de Entrada (Artigos RSS):\n\n(Insira aqui os dados dos artigos coletados pelo nó RSS Read, após o pré-processamento, geralmente em formato JSON ou texto simples.)\n\nJSON\n\n[\n  {\n    \"title\": \"Título do Artigo 1\",\n    \"url\": \"https://...\",\n    \"content\": \"Conteúdo completo do artigo 1...\"\n  },\n  {\n    \"title\": \"Título do Artigo 2\",\n    \"url\": \"https://...\",\n    \"content\": \"Conteúdo completo do artigo 2...\"\n  },\n  // ... mais artigos\n]\nEste prompt garante que a LLM:\n\nMantenha o Foco: Limita o resultado a apenas IA e JS/TS.\n\nSeja Concisa: Impede que a LLM crie resumos longos demais (limite de 50 palavras).\n\nFormate Corretamente: Entrega a saída pronta para o Markdown do Discord.\n\n\nConjunto de notícias\n{{ $json.posts.toJsonString() }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        400,
        -112
      ],
      "id": "848d7589-7abd-4d4a-b417-22d8a0a8132a",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "a9PO7SwCu0Cg2zNB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://g1.globo.com/rss/g1/tecnologia/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        -32
      ],
      "id": "64af3ca1-04c2-4fb0-a395-fa71566daf29",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "77143023-38bb-4f62-be98-b74198d235ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1645471bd76d5a248d279058fb8c1425136988dbde6a9d045f5fe5e346552901"
  },
  "id": "RK9gwccVaKf2iBmyhMHG-",
  "tags": []
}